asgiref==3.2.5
beautifulsoup4==4.9.0
blessings==1.6
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
curtsies==0.2.11
Django==3.0.12
django-autotranslate==1.1.0
django-contrib-comments==1.9.2
djangorestframework==3.11.0
futures==3.1.1
goslate==1.5.1
gunicorn==20.0.4
idna==2.5
newsapi==0.1.1
newsapi-python==0.2.6
Pillow==7.1.1
polib==1.1.0
Pygments==2.2.0
pytz==2019.3
requests==2.18.1
six==1.10.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.21.1
wcwidth==0.1.7
whitenoise==5.0.1