{% extends 'music/base.html' %}
{% load i18n %}

{% block body %}

{% block alb %}<li class="active">{% endblock %}

{% block song %}

{% endblock %}
{% block review_searchbar %}
{% endblock %}
{% block review %}
{% endblock %}

<body class="mybody">
    
</body>

{% if object_list %}

    <div class="container">
        <div class="row">
        {% for album in object_list %}
        <div class="col-sm-4">
            <article class="card">
                <img width="350px" class="card-img-top img-responsive" class="myimg" src="{{ album.album_logo }}" alt="" />
                <div class="card-body">
                    <h2 class="card-title">{{ album.album_title }}</h2>
                    <h3 class="text-muted">{{ album.artist }}</h3>
                    <h3 class="text-muted">{{ album.genre }}</h3>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'param' album.id %}"  class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-cd"></i>&nbsp;{% trans 'Альбом' %}</a>
                        <a href="{% url 'album-update' album.id %}"  class="btn btn-primary btn-sm2" ><i class="glyphicon glyphicon-pencil"></i>&nbsp;{% trans 'Изменить' %}</a>
                        <a href="{% url 'album-delete' album.id %}"  class="btn btn-primary btn-sm3" ><i class="glyphicon glyphicon-fire"></i>&nbsp;{% trans 'Удалить' %}</a>

                    </div>

                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <h3>{% trans 'Нет альбомов' %}</h3>
{% endif %}



{% endblock %}



